
$navbar-width: 25rem;
$toolbar-height: 7rem;

$color-navbar: #9363F1;
$color-navbar-light: #b57df1;
$color-black: #000;
$color-white: #FFF;

$color-body: #F7F8FA;

$color-black-medium: #505359;
$color-black-dark: #3A3C40;

$color-blue: #4F8EDC;
$color-blue-light: #16acdc;
$color-blue-dark: #2f76dc;
$color-gray: #CCCCCC;
$color-gray-light: #EDEEF0;

$color-black-medium: #556B8D;
$color-black-light: #677FA4;
$color-black-dark: #222F3D;

$color-green: #78BA38;
$color-green-light: #83c639;
$color-green-dark: #6CA632;

$color-orange: #ED9619;
$color-orange-light: #F0A63D;
$color-orange-dark: #DC8911;

$color-red: #E54042;
$color-red-light: #e55b61;
$color-red-dark: #e51e28;


$font-size-1: 1.1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.3rem;
$font-size-4: 1.4rem;
$font-size-5: 1.5rem;
$font-size-6: 1.6rem;
$font-size-7: 1.7rem;
$font-size-8: 1.8rem;
$font-size-9: 1.9rem;
$font-size-10: 2rem;
$font-size-big-1: 3.3rem;
$font-size-big-2: 4.8rem;

$font-weigth-light: 300;
$font-weigth-normal: 400;
$font-weigth-bold: 700;
