.visualizar-colaborador {
  width: calc(100vw - #{$navbar-width});
  transform: translateX($navbar-width) translateY($toolbar-height);
  padding: 3rem;

  .title-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .editar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .principal {

    .header {
      display: flex;
      justify-content: space-between;
    }

  }

  .informacoes-principais {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-gap: 4rem;

    .foto {
      font-size: $font-size-2;
      color: $color-blue;
      display: flex;
      flex-direction: column;
      align-items: center;

      .exportar {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    .dados {
      font-size: $font-size-2;
      color: rgba($color-black, .6);

      .nome {
        font-size: 3rem;
        font-weight: $font-weigth-light;
        color: $color-blue-light;
        line-height: 1rem;
        margin-bottom: 2rem;
      }

      & > div {
        margin-bottom: 1rem;
        font-size: $font-size-2;

        i {
          margin-right: 1rem;
        }

        span:last-child {
          margin-left: 1rem;
        }

      }

    }

  }

  .corpo {
    width: 100%;
    font-size: $font-size-2;

    .title {
      font-size: 2.5rem;
      font-weight: $font-weigth-light;
      color: $color-blue-light;
      margin: 1rem 0;
    }

    .conteudo {
      display: grid;
      grid-template-columns: 1fr 2.5fr;
      grid-gap: 2rem;
      margin-bottom: 1rem;

      .campo {
        display: flex;
        justify-content: flex-end;
        color: rgba($color-black, .4);
      }

      .valor {
        color: rgba($color-black, .8);
      }
    }
  }

  .margin-btn {
    margin-top: 2rem;
  }

  .secundario {

    .conteudo {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2.2fr;
      grid-gap: 2rem;
      margin-bottom: 1rem;
      font-size: $font-size-2;

      .campo {
        display: flex;
        justify-content: flex-end;
        color: rgba($color-black, .4);
        text-align: right;
      }

      .valor {
        color: rgba($color-black, .8);
      }
    }
  }

}