.page {
  width: calc(100vw - #{$navbar-width});
  transform: translateX($navbar-width) translateY($toolbar-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 3rem;

  &-title {
    font-size: $font-size-big-1;
    font-weight: $font-weigth-light;
    margin-bottom: 2rem;
  }
}


.colaboradores {
  .jornada-semanal {
    width: 100%;

    .opcoes {
      margin: 2rem 0;
    }

    .horario-personalizado {
      background-color: rgba($color-blue-light, .2);
      border: .1rem solid rgba($color-blue-light, .6);
      padding: 2rem;
      color: $color-blue-dark;
      margin: 2rem 0;
      width: 100%;

      .inputs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
      }

      .botoes {
        display: flex;
        justify-content: flex-end;
      }
    }

  }


}

.botoes-footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.novo-colaborador {
  width: 100%;
}

.page-divided {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1.1fr;
  grid-gap: 2rem;
}

.gestao-colaboradores {
  & .button {
    margin-top: 2rem;
  }
}

.relatorios {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.ferias {

  .painel {
    background-color: $color-white;
  }

  .resumos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}


.folha {

  &-configuracao {
    font-size: $font-size-3;

    .negrito {
      font-weight: $font-weigth-bold;
    }

    .fpas {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .outros {
      width: 100%;

      div {
        margin-bottom: .6rem;
      }
    }

    .title-second-content {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: $font-size-10;
        font-weight: lighter;
      }

      .edit {
        color: $color-blue;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        i {
          margin-right: .2rem;
          color: $color-green;
        }
      }
    }

    &-card {
      width: 100%;

      .title {
        font-size: $font-size-10;
        font-weight: $font-weigth-light;
      }

      .text {
        margin: 1rem 0;
      }
    }

  }
}

.gerar-relatorio-subtitle {
  width: 100%;
  display: flex;
  justify-content: space-between;

  span {
    font-size: $font-size-10;
    font-weight: $font-weigth-light;
  }
}

.page-relatorios {
  width: 100%;
  margin-bottom: 3rem;

  .gerar-relatorio {
    margin: 2rem;

    i {
      font-size: $font-size-10;
      color: $color-green;
      margin-right: 1rem;
    }

    span {
      font-size: $font-size-2;
      color: $color-blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.holerite-modal-subtitle {
  text-align: center;
  font-size: $font-size-4;
  margin: 1rem;
}




.notificacoes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 2rem;
  font-size: $font-size-2;
  background-color: $color-white;

  ul {
    height: 100%;
  }

  li {
    padding: 1rem 2rem;
    display: block;
    border-radius: .2rem;
    color: $color-blue;
    cursor: pointer;

    &:hover {
      background-color: $color-gray-light;
    }
  }

  .active {
    background-color: $color-gray-light;
  }

  .body {
    height: 100%;

    .title {
      font-size: $font-size-10;
      font-weight: $font-weigth-light;
      margin-bottom: 2rem;
    }

    .item {
      display: grid;
      grid-template-columns: 1fr 5fr;
      margin-bottom: 2.5rem;

      p {
        margin-top: 1rem;
      }

      .link {
        color: $color-blue;
        text-decoration: underline;
      }

      .botao {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
      }

    }
  }
}

.comunicacao {

  .mural {

    .filtro {
      display: flex;
      justify-content: space-between;
    }

    .body {

    }

  }

}


