.card-home {
  width: 100%;
  height: 15rem;
  color: $color-white;
  text-align: center;

  &-title {
    font-size: $font-size-1;
    text-transform: uppercase;
    padding: .4rem;
  }

  &-body {
    span:nth-child(1) {
      font-size: $font-size-big-2;
      font-weight: $font-weigth-light;
      display: block;
    }
    span:nth-child(2) {
      font-size: $font-size-2;
    }
  }

  &-button {
    font-size: $font-size-2;
    cursor: pointer;
    margin-top: .4rem;
    padding: .4rem;
  }

  &-black {
    &-title {
      background-color: $color-black-light;
    }
    &-body {
      background-color: $color-black-medium;
    }
    &-button {
      background-color: $color-black-medium;
      &:hover {
        background-color: $color-black-dark;
      }
    }
  }

  &-green {
    &-title {
      background-color: $color-green-light;
    }
    &-body {
      background-color: $color-green;
    }
    &-button {
      background-color: $color-green;
      &:hover {
        background-color: $color-green-dark;
      }
    }
  }

  &-orange {
    &-title {
      background-color: $color-orange-light;
    }
    &-body {
      background-color: $color-orange;
    }
    &-button {
      background-color: $color-orange;
      &:hover {
        background-color: $color-orange-dark;
      }
    }
  }

  &-blue {
    &-title {
      background-color: $color-blue-light;
    }
    &-body {
      background-color: $color-blue;
    }
    &-button {
      background-color: $color-blue;
      &:hover {
        background-color: $color-blue-dark;
      }
    }
  }

  &-red {
    &-title {
      background-color: $color-red-light;
    }
    &-body {
      background-color: $color-red;
    }
    &-button {
      background-color: $color-red;
      &:hover {
        background-color: $color-red-dark;
      }
    }
  }
}


.card-simples {
  width: 100%;
  background-color: $color-white;
  @include borda-light;
  border-top: .2rem solid $color-blue;
  margin-top: 3rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-start {
    align-items: flex-start;
  }
}


.card-borda {
  width: 100%;
  border-top: none;
  margin-top: 2rem;

  .icon-action {
    font-size: $font-size-2;
    cursor: pointer;

    &:hover {
      color: rgba($color-white, .6);
    }
  }

  &-header {
    height: 4rem;
    width: 100%;
    background-color: $color-blue;
    color: $color-white;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;

    .fas {
      margin-right: 1rem;
    }

    & > i {
      cursor: pointer;
    }

    &-red {
      background-color: $color-red;
    }

    &-green {
      background-color: $color-green;
    }

    &-orange {
      background-color: $color-orange;
    }

    &-dark {
      background-color: $color-black-light-2;
    }
  }

  &-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    border: .1rem solid rgba($color-gray, .6);
    border-top: none;

    &-start {
      align-items: flex-start;
    }
  }
}

.card-expanded {
  @include borda-light;
  cursor: pointer;
  transition: all .5s;

  .closed {
    height: 0;
    overflow: hidden;
    transition: all .5s;
  }
}

.card-tab {

  &-header {
    display: flex;
  }

  &-title {
    padding: .8rem 1.2rem;
    cursor: pointer;
  }

  &-active {
    background-color: $color-white;
    color: $color-black;
    cursor: default;
  }
}


.card-lateral {
  width: 100%;
  padding: 1rem 2rem;
  @include borda-light;
  border-left: .2rem solid $color-blue-light;
  color: $color-black;
  background-color: $color-white;
  cursor: pointer;
  transition: all .5s;
  font-size: $font-size-2;
  display: grid;
  grid-template-columns: 2fr 12fr 1fr;

  .title {
    font-size: $font-size-6;
  }

  .text {
    margin: 1rem 0;
  }

  .fas {
    font-size: 4rem;
    color: $color-blue;
    display: flex;
    align-items: center;
  }

  .icon {
    color: $color-white;
  }

  &:hover {
    color: $color-white;
    background-color: $color-blue-light;
    transition: all .5s;
  }

  &:hover .fas {
    color: $color-white;
  }
}

.simple-panel {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
  cursor: pointer;
  text-align: center;
  padding: 2rem;

  &-blue {
    background-color: $color-blue;

    &:hover {
      background-color: rgba($color-blue, .9);
    }
  }

  &-orange {
    background-color: $color-orange;

    &:hover {
      background-color: rgba($color-orange, .9);
    }
  }

  &-green {
    background-color: $color-green;

    &:hover {
      background-color: rgba($color-green, .9);
    }
  }

  .qtd {
    font-size: $font-size-big-1;
  }

  .text {
    font-size: $font-size-2;
  }
}


.card-lateral-simple {
  width: 100%;
  padding: 0 2rem .5rem;
  @include borda-light;
  border-left: .2rem solid $color-blue-light;
  color: $color-black;
  background-color: $color-white;
  transition: all .5s;
  font-size: $font-size-2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .body {
    cursor: pointer;
  }

  .text {
    font-size: $font-size-10;
  }

  .text {
    margin: .5rem 0;
  }

  .icones {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-2;

    i {
      margin-right: .5rem;
      font-size: $font-size-3;
    }

    &-edit {
      color: $color-blue;
      cursor: pointer;
    }

    &-delete {
      color: $color-red;
      margin-left: 2rem;
      cursor: pointer;
    }

  }

}

.botao-direita {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.card-icon {
  padding: 3rem;
  @include box-shadow-light;
  transition: all .5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white;

  i {
    font-size: 5rem;
    color: $color-blue;
  }

  .title {
    margin-top: 2rem;
  }

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 1.5rem -.3rem rgba(0, 0, 0, 0.50);
    transition: all .5s;

    & > i {
      color: $color-orange-light;
    }
  }
}
