.input-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  align-items: center;
  grid-gap: 1.2rem;

  .input-label {
    font-size: $font-size-3;
    justify-self: flex-end;
    align-self: center;
    margin-bottom: .5rem;
  }

  .input-detail {
    margin-top: 1rem;
    text-align: justify;
    font-size: $font-size-1;

    &-action {
      color: $color-blue;
      cursor: pointer;
    }

  }

}

.input-normal {
  width: 100%;
  padding: 1.5rem 1rem;

  .input-label {
    font-size: $font-size-3;
    margin-bottom: .5rem;
  }
}

.input {
  width: 100%;
  outline: none;
  border-radius: .2rem;
  padding: .5rem;
  font-size: $font-size-3;
  border: .1rem solid rgba($color-gray, 1);
  height: 3.2rem;

  &-padding {
    padding: 1.5rem 1rem;
  }

  &-margin {
    margin: 1.5rem 1rem;
  }

  &:focus {
    border: .1rem solid $color-blue
  }

  &-width-1 {
    width: 25rem;
  }
}

.select {

  &-container {
    margin: 1rem;
    font-size: $font-size-3;
    position: relative;

    &-width-1 {
      width: 25rem;
    }


    input {
      pointer-events: none;
      display: none;
    }
  }

  &-header {
    cursor: pointer;
    background-color: $color-white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      min-width: 4rem;
    }

    .up {
      transform: rotateZ(0deg);
      transition: all .2s;
    }

    .down {
      transform: rotateZ(180deg);
      transition: all .2s;
    }
  }

  &-list {
    position: absolute;
    top: 3.2rem;
    left: 0;
    background-color: $color-white;
    width: 100%;
    border: .1rem solid rgba($color-gray, .5);
    border-top: none;
    border-radius: .2rem;
    z-index: 1;
    max-height: 16.6rem;
    overflow-y: auto;

    &-item {
      padding: .5rem;
      border-top: .1rem solid rgba($color-gray, .5);

      &:hover {
        background-color: rgba($color-gray-light, .5);
        cursor: pointer;
      }
    }
  }
}

.checkbox {
  cursor: pointer;
  font-size: $font-size-2;

  input[type="checkbox"] {
    display: none;

    & + .label-text:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      content: "\f0c8";
      font-size: $font-size-4;
      margin-right: .5rem;
      color: $color-gray;
      transition: all .5s;
    }

    &:checked + .label-text:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f14a";
      font-size: $font-size-4;
      margin-right: .5rem;
      color: $color-green;
      transition: all .5s;
    }

  }

}


.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: $font-size-2;
  user-select: none;
  margin: 1rem 0;

  input {
    display: none;


    &:checked + .circle {
      background-color: $color-blue-light;
      border: transparent;

      &:before {
        content: '';
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background-color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .circle {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .1rem solid $color-gray;
    margin-right: .5rem;
    position: relative;

    &:hover {
      background-color: $color-gray-light;
    }
  }

  .label {
    display: inline-block;
  }
}

.placeholder {
  color: rgba($color-black, .6);
}
