.button {
  color: $color-white;
  display: inline-block;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;

  &-full {
    width: 100%;
    text-align: center;
  }

  &-green {
    background-color: $color-card-green-medium;

    &:hover {
      background-color: $color-card-green-dark;
    }
  }

  &-black {
    background-color: $color-black-medium;

    &:hover {
      background-color: $color-black-dark;
    }
  }
}

.input-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .input-label {
    font-size: $font-size-3;
    justify-self: flex-end;
    align-self: center;
  }

}

.input {
  outline: none;
  border-radius: .2rem;
  padding: .5rem;
  font-size: $font-size-3;
  border: .1rem solid rgba($color-gray, 1);
  height: 3.2rem;
  margin: 1rem;

  &:focus {
    border: .1rem solid $color-blue
  }

  &-width-1 {
    width: 25rem;
  }
}

.select {

  &-container {
    margin: 1rem;
    width: 100%;
    font-size: $font-size-3;
    position: relative;

    &-width-1 {
      width: 25rem;
    }
  }

  &-header {
    width: 100%;
    cursor: pointer;
    background-color: $color-white;
    margin: 0;

    &-title {

    }
  }

  &-list {
    position: absolute;
    top: 3.2rem;
    left: 0;
    background-color: $color-white;
    width: 100%;
    border: .1rem solid rgba($color-gray, .5);
    border-top: none;
    border-radius: .2rem;
    z-index: 1;

    &-item {
      padding: .5rem;
      border-top: .1rem solid rgba($color-gray, .5);

      &:hover {
        background-color: rgba($color-gray-light, .5);
        cursor: pointer;
      }
    }
  }
}