
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, .3);
}


.modal {
  background-color: $color-white;
  width: 80rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-header {
    height: 5rem;
    border-bottom: .1rem solid rgba($color-black, .1);
    display: flex;
    justify-content: space-between;
  }

  &-body {
    padding: 2rem;
  }

  &-footer {
    height: 7rem;
    border-top: .1rem solid rgba($color-black, .1);
    display: flex;
    justify-content: flex-end;
  }
}