.divided {
  width: 100%;
  height: 0;
  border-bottom: .1rem solid rgba($color-black, .2);
  margin: 2rem auto;
}

.edit {
  margin-bottom: .5rem;
  color: $color-blue;

  i {
    color: $color-green;
    margin-right: .5rem;
  }

  span {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.remove {
  color: $color-blue;

  i {
    color: $color-red;
    margin-right: .5rem;
  }

  span {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}

.configuracoes {
  color: $color-blue;

  i {
    margin-right: .5rem;
  }

  span {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}

.required {
  color: $color-red;
}


.config-options {
  position: relative;
  cursor: pointer;

  i {
    font-size: $font-size-6;
  }

  ul {
    color: $color-black;
    font-size: $font-size-2;
    position: absolute;
    top: 2.5rem;
    right: -.5rem;
    background-color: $color-white;
    width: 20rem;
    border: .1rem solid rgba($color-gray, .5);
    border-top: none;
    border-radius: .2rem;
    z-index: 1;
    max-height: 16.6rem;

    li {
      padding: .6rem;
      border-top: .1rem solid rgba($color-gray, .5);

      &:hover {
        background-color: rgba($color-gray-light, .5);
        cursor: pointer;
      }
    }
  }

}
