*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  background-color: #F7F8FA;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.title-2 {
  font-size: 3.3rem;
  font-weight: 300;
  margin-top: 2rem;
}

.card-home {
  width: 100%;
  height: 15rem;
  color: #FFF;
  text-align: center;
}
.card-home-title {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0.4rem;
}
.card-home-body span:nth-child(1) {
  font-size: 4.8rem;
  font-weight: 300;
  display: block;
}
.card-home-body span:nth-child(2) {
  font-size: 1.2rem;
}
.card-home-button {
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 0.4rem;
  padding: 0.4rem;
}
.card-home-black-title {
  background-color: #677FA4;
}
.card-home-black-body {
  background-color: #556B8D;
}
.card-home-black-button {
  background-color: #556B8D;
}
.card-home-black-button:hover {
  background-color: #222F3D;
}
.card-home-green-title {
  background-color: #83c639;
}
.card-home-green-body {
  background-color: #78BA38;
}
.card-home-green-button {
  background-color: #78BA38;
}
.card-home-green-button:hover {
  background-color: #6CA632;
}
.card-home-orange-title {
  background-color: #F0A63D;
}
.card-home-orange-body {
  background-color: #ED9619;
}
.card-home-orange-button {
  background-color: #ED9619;
}
.card-home-orange-button:hover {
  background-color: #DC8911;
}

.card-simples {
  background-color: #FFF;
  border: 0.1rem solid rgba(204, 204, 204, 0.6);
  border-top: 0.2rem solid #4F8EDC;
  margin-top: 3rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-borda {
  width: 100%;
  border: 0.1rem solid rgba(204, 204, 204, 0.6);
  border-top: none;
  margin-top: 2rem;
}
.card-borda-header {
  height: 4rem;
  width: 100%;
  background-color: #4F8EDC;
  color: #FFF;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.card-borda-header > i {
  cursor: pointer;
}
.card-borda-header-red {
  background-color: #E54042;
}
.card-borda-body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
}

.tab-painel {
  background-color: #FFF;
  width: 100%;
}
.title-tab {
  margin: 2rem;
}

.tab-item {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  color: #4F8EDC;
  cursor: pointer;
}
.tab-item:hover {
  border-bottom: 0.2rem solid #CCCCCC;
}
.tab-active {
  border-bottom: 0.2rem solid #4F8EDC;
}

.tab-content {
  margin-top: 2rem;
  width: 100%;
}

.button {
  color: #FFF;
  display: inline-block;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.button-full {
  width: 100%;
  text-align: center;
}
.button-green {
  background-color: #78BA38;
}
.button-green:hover {
  background-color: #6CA632;
}
.button-black {
  background-color: #505359;
}
.button-black:hover {
  background-color: #3A3C40;
}

.input-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
}
.input-container .input-label {
  font-size: 1.3rem;
  justify-self: flex-end;
  align-self: center;
  margin-bottom: 0.5rem;
}
.input-container .input-detail {
  margin-top: 1rem;
  text-align: justify;
  font-size: 1.1rem;
}
.input-container .input-detail-action {
  color: #4F8EDC;
  cursor: pointer;
}

.input {
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  border: 0.1rem solid #cccccc;
  height: 3.2rem;
  margin: 1.5rem 1rem;
}
.input:focus {
  border: 0.1rem solid #4F8EDC;
}
.input-width-1 {
  width: 25rem;
}

.select-container {
  margin: 1rem;
  font-size: 1.3rem;
  position: relative;
}
.select-container-width-1 {
  width: 25rem;
}
.select-header {
  cursor: pointer;
  background-color: #FFF;
  margin: 0;
}
.select-header-title {
  min-width: 4rem;
}
.select-list {
  position: absolute;
  top: 3.2rem;
  left: 0;
  background-color: #FFF;
  width: 100%;
  border: 0.1rem solid rgba(204, 204, 204, 0.5);
  border-top: none;
  border-radius: 0.2rem;
  z-index: 1;
}
.select-list-item {
  padding: 0.5rem;
  border-top: 0.1rem solid rgba(204, 204, 204, 0.5);
}
.select-list-item:hover {
  background-color: rgba(237, 238, 240, 0.5);
  cursor: pointer;
}

.stepper {
  display: flex;
  width: 100%;
}
.stepper-item {
  font-size: 1.2rem;
  padding: 1.5rem;
  background-color: #EDEEF0;
  flex-grow: 1;
  cursor: pointer;
}
.stepper-item-number {
  display: inline-block;
  font-size: 1.8rem;
  color: #FFF;
  background-color: #CCCCCC;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
}
.stepper-item-label {
  display: inline-block;
  font-size: 1.4rem;
  margin-left: 2rem;
}
.stepper-item-active.stepper-item {
  background-color: #4F8EDC;
}
.stepper-item-active.stepper-item .stepper-item-number {
  background-color: #FFF;
  color: #4F8EDC;
}
.stepper-item-active.stepper-item .stepper-item-label {
  color: #FFF;
}

.table {
  width: 100%;
  font-size: 1.3rem;
  border-collapse: collapse;
  margin-top: 2rem;
}
.table tr {
  border: 0.1rem solid #EDEEF0;
}
.table td, .table th {
  padding: 1rem;
  border: none;
  text-align: left;
}
.table th {
  text-transform: capitalize;
}
.table-head {
  min-width: 100%;
  background-color: #FFF;
}
.table-body tr {
  cursor: pointer;
}
.table-body tr:nth-child(odd) {
  background-color: rgba(237, 238, 240, 0.3);
}
.table-body tr:nth-child(even) {
  background-color: #FFF;
}

.table-container {
  width: 100%;
}
.table-container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}
.table-container-header div:nth-child(1) {
  display: flex;
  align-items: center;
}
.table-container-body {
  width: 100%;
}
.photo-container {
  width: 10rem;
  height: 10rem;
  position: relative;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;
}
.photo-box {
  width: 100%;
  height: 100%;
  border: 0.1rem solid rgba(204, 204, 204, 0.6);
  padding: 0.2rem;
  text-align: center;
}
.photo-icon {
  color: #CCCCCC;
  font-size: 3.3rem;
  display: inline-block;
  margin-top: 2.5rem;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  background-color: #FFF;
  width: 80rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-header {
  height: 5rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}
.modal-body {
  padding: 2rem;
}
.modal-footer {
  height: 7rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
}

.navbar {
  width: 20rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #9363F1;
}

.page {
  width: calc(100vw - 20rem);
  transform: translateX(20rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 3rem;
}
.page-title {
  font-size: 3.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.home-resumos {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15rem;
}

.novo-colaborador {
  width: 100%;
}

.page-divided {
  width: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 2rem;
}

.gestao-colaboradores .button {
  margin-top: 2rem;
}

/*# sourceMappingURL=index.css.map */
